@import "tailwindcss";

/* ---Color Theme--- */
@theme {

  /* Background */
  --color-bgColor: #0A1128;
  --color-accent: #00F0FF;

  /* Text */
  --color-textColor: #FFFBE8;
  --color-textAccent: #02B4D4;
  --color-buttonHover: #0083BF;
  --font-poppins: "Poppins", sans-serif;

  --color-secTextColor: #E2E8F0;
  --color-mutedText: #8892B0;
  
  
}

/* ---Animation--- */
.buttonHover:hover {
  color: #64FFDA;
  box-shadow: 0 0 10px 4px rgba(100, 255, 218, 0.20);
  border-color: #64FFDA;
}
.buttonHover{
  transition: all 0.3s ease;
}



@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-pulse-slow {
    animation: pulse 4s ease-in-out infinite;
  }

  .animate-bounce-slow {
    animation: bounce 3.5s infinite;
  }

  .animate-bounce-slower {
    animation: bounce 5s infinite;
  }
}