@import "tailwindcss";

/* ---Color Theme--- */
@theme {

  /* Background */
  --color-bgColor: #0A1128;
  --color-accent: #00F0FF;

  /* Text */
  --color-textColor: #FFFBE8;
  --color-textAccent: #02B4D4;
  --color-buttonHover: #0083BF;
  --font-poppins: "Poppins", sans-serif;

  --color-secTextColor: #E2E8F0;
  --color-mutedText: #8892B0;
  
  
}

/* ---Animation--- */
@keyframes heartbeatShadow{
  0% {
    box-shadow: 0 0 0px rgba(100, 255, 218, 0.20);
  }
  50% {
    box-shadow: 0  0 20px rgba(100, 255, 218, 0.50);
  }
  100%{
    box-shadow: 0 0 0px rgba(100, 255, 218, 0.20);
  }
}
.shadowGlow{
  animation: heartbeatShadow 3s ease-in-out infinite;
}
.shadowAccent{
  box-shadow: 0  0 20px rgba(100, 255, 218, 0.50);;
}

.buttonHover:hover {
  color: #64FFDA;
  box-shadow: 0 0 10px 4px rgba(100, 255, 218, 0.20);
  border-color: #64FFDA;
}
.buttonHover{
  transition: all 0.3s ease;
}



